* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    margin: 0px;
    height: max-content;
    background-color: rgb(211, 253, 211);
}

nav {
    background-color: rgb(128, 255, 128);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 45px;
    padding: 5px;
}

nav img {
    height: 100%;
}

nav div.right {
    position: fixed;
    right: 5px;
}

nav div.right a {
    color: red;
}

nav div.right a:hover {
    text-decoration: none;
}

article {
    padding: 5px;
    height: 100%;
    margin-top: 45px;
}

code {
    background-color: rgb(23, 18, 14);
    color: white;
    display: block;
    padding: 7px;
    border-radius: 10px;
    border-left: solid purple 5px;
}

.flexParent {
    display: flex;
}